## Pandas数据统计函数

In [1]:
import pandas as pd

### 0、读取csv数据

In [2]:
df = pd.read_csv("E:/code/data_analysis/pandas_data_analysis/data/4_beijing_tianqi_2018.csv")
df.head(3)

          ymd bWendu yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
0  2018-01-01     3℃    -6℃   晴~多云       东北风   1-2级   59       良         2
1  2018-01-02     2℃    -5℃   阴~多云       东北风   1-2级   49       优         1
2  2018-01-03     2℃    -5℃     多云        北风   1-2级   28       优         1

In [3]:
# 替换掉温度的后缀℃
df.loc[:, "bWendu"] = df["bWendu"].str.replace("℃", "").astype('int32')
df.loc[:, "yWendu"] = df["yWendu"].str.replace("℃", "").astype('int32')

In [4]:
df.head(3)

          ymd  bWendu  yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
0  2018-01-01       3      -6   晴~多云       东北风   1-2级   59       良         2
1  2018-01-02       2      -5   阴~多云       东北风   1-2级   49       优         1
2  2018-01-03       2      -5     多云        北风   1-2级   28       优         1

### 1、汇总类统计

In [5]:
# 一下子提取所有数字列统计结果
df.describe()

           bWendu      yWendu         aqi    aqiLevel
count  365.000000  365.000000  365.000000  365.000000
mean    18.665753    8.358904   82.183562    2.090411
std     11.858046   11.755053   51.936159    1.029798
min     -5.000000  -12.000000   21.000000    1.000000
25%      8.000000   -3.000000   46.000000    1.000000
50%     21.000000    8.000000   69.000000    2.000000
75%     29.000000   19.000000  104.000000    3.000000
max     38.000000   27.000000  387.000000    6.000000

In [6]:
## 查看单个Series的数据
df["bWendu"].mean()

18.665753424657535

In [7]:
# 最高温
df["bWendu"].max()

38

In [8]:
# 最低温
df["bWendu"].min()

-5

### 2、唯一去重和按值计数

In [9]:
df["fengxiang"].unique()

array(['东北风', '北风', '西北风', '西南风', '南风', '东南风', '东风', '西风'], dtype=object)

#### 2.2 按值计数

In [10]:
df["fengxiang"].value_counts()

南风     92
西南风    64
北风     54
西北风    51
东南风    46
东北风    38
东风     14
西风      6
Name: fengxiang, dtype: int64

### 3、相关系数和协方差
对于两个变量X、Y：
1. 协方差：***衡量同向反向程度***，如果协方差为正，说明X，Y同向变化，协方差越大说明同向程度越高；如果协方差为负，说明X，Y反向运动，协方差越小说明反向程度越高。
2. 相关系数：***衡量相似度程度***，当他们的相关系数为1时，说明两个变量变化时的正向相似度最大，当相关系数为－1时，说明两个变量变化的反向相似度最大

In [11]:
# 协方差矩阵：
df.cov()

              bWendu      yWendu          aqi   aqiLevel
bWendu    140.613247  135.529633    47.462622   0.879204
yWendu    135.529633  138.181274    16.186685   0.264165
aqi        47.462622   16.186685  2697.364564  50.749842
aqiLevel    0.879204    0.264165    50.749842   1.060485

In [13]:
# 相关系数矩阵
df.corr()

            bWendu    yWendu       aqi  aqiLevel
bWendu    1.000000  0.972292  0.077067  0.071999
yWendu    0.972292  1.000000  0.026513  0.021822
aqi       0.077067  0.026513  1.000000  0.948883
aqiLevel  0.071999  0.021822  0.948883  1.000000

In [14]:
# 单独查看空气质量和最高温度的相关系数
df["aqi"].corr(df["bWendu"])

0.07706705916811077

In [15]:
# 空气质量和温差的相关系数
df["aqi"].corr(df["bWendu"]-df["yWendu"])

0.21652257576382047