## Pandas的索引index的用途

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("E:/code/data_analysis/pandas_data_analysis/data/1_ratings.csv")
df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [3]:
df.count()

userId       100836
movieId      100836
rating       100836
timestamp    100836
dtype: int64

## 1、使用index查询数据

In [4]:
# drop==False，让索引列还保持在column
df.set_index("userId", inplace=True, drop=False)
df.head()

        userId  movieId  rating  timestamp
userId
1            1        1     4.0  964982703
1            1        3     4.0  964981247
1            1        6     4.0  964982224
1            1       47     5.0  964983815
1            1       50     5.0  964982931

In [7]:
df.index

Int64Index([  1,   1,   1,   1,   1,   1,   1,   1,   1,   1,
            ...
            610, 610, 610, 610, 610, 610, 610, 610, 610, 610],
           dtype='int64', name='userId', length=100836)

In [9]:
# 使用index的查询方法
df.loc[500].head(5)

        userId  movieId  rating   timestamp
userId
500        500        1     4.0  1005527755
500        500       11     1.0  1005528017
500        500       39     1.0  1005527926
500        500      101     1.0  1005527980
500        500      104     4.0  1005528065

## 2. 使用index会提升查询性能

* 如果index是唯一的，Pandas会使用哈希表优化，查询性能为O(1);
* 如果index不是唯一的，但是有序，Pandas会使用二分查找算法，查询性能为O(logN);
* 如果index是完全随机的，那么每次查询都要扫描全表，查询性能为O(N);

### 实验1：完全随机的顺序查询

In [7]:
# 将数据随机打散
from sklearn.utils import shuffle
df_shuffle = shuffle(df)

In [8]:
df_shuffle.head()

        userId  movieId  rating   timestamp
userId
197        197     2025     5.0   947461295
74          74      273     3.5  1207499102
599        599    95771     4.0  1519132946
529        529      260     5.0   855583422
425        425    30749     4.5  1163190822

In [9]:
# 索引是否是递增的
df_shuffle.index.is_monotonic_increasing

False

In [10]:
df_shuffle.index.is_unique

False

In [11]:
# 计时，查询id==500数据性能
%timeit df_shuffle.loc[500]

1.25 ms ± 154 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

### 实验2：将index排序后的查询

In [12]:
df_sorted = df_shuffle.sort_index()
df_sorted.head()

        userId  movieId  rating  timestamp
userId
1            1      590     4.0  964982546
1            1     2478     4.0  964984169
1            1     2253     2.0  964981775
1            1     1270     5.0  964983705
1            1     3439     4.0  964981799

In [13]:
# 索引是否是递增的
df_sorted.index.is_monotonic_increasing

True

In [14]:
df_sorted.index.is_unique

False

In [15]:
%timeit df_sorted.loc[500]

718 µs ± 173 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

## 3. 使用index能自动对齐数据

包括series和dataframe

In [20]:
s1 = pd.Series([1,2,3], index=list("abc"))

In [21]:
s1

a    1
b    2
c    3
dtype: int64

In [22]:
s2 = pd.Series([2,3,4], index=list("bcd"))

In [23]:
s2

b    2
c    3
d    4
dtype: int64

In [24]:
s1+s2

a    NaN
b    4.0
c    6.0
d    NaN
dtype: float64

## 4. 使用index更多更强大的数据结构支持

***很多强大的索引数据结构*** 
* CategoricalIndex，基于分类数据的Index，提升性能；
* MultiIndex，多维索引，用于groupby多维聚合后结果等；
* DatetimeIndex，时间类型索引，强大的日期和时间的方法支持；