## Pandas的Categorical数据类型可以降低数据存储提升计算速度

将一个字符串变量转换成分类变量进行存储，减少内存消耗，降低运行速度

### 1、读取数据

In [6]:
import pandas as pd

In [7]:
df = pd.read_csv("E:/code/data_analysis/pandas_data_analysis/data/8_users.dat",
                 sep="::",
                 engine="python",
                 header=None,
                 names="UserID::Gender::Age::Occupation::Zip-code".split("::"))

In [8]:
df.head()

   UserID Gender  Age  Occupation Zip-code
0       1      F    1          10    48067
1       2      M   56          16    70072
2       3      M   25          15    55117
3       4      M   45           7    02460
4       5      M   25          20    55455

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6040 entries, 0 to 6039
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   UserID      6040 non-null   int64
 1   Gender      6040 non-null   object
 2   Age         6040 non-null   int64
 3   Occupation  6040 non-null   int64
 4   Zip-code    6040 non-null   object
dtypes: int64(3), object(2)
memory usage: 236.1+ KB

In [10]:
df.info(memory_usage="deep")
# 查看实际内存消耗

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6040 entries, 0 to 6039
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   UserID      6040 non-null   int64
 1   Gender      6040 non-null   object
 2   Age         6040 non-null   int64
 3   Occupation  6040 non-null   int64
 4   Zip-code    6040 non-null   object
dtypes: int64(3), object(2)
memory usage: 849.8 KB

In [11]:
df_cat = df.copy()
df_cat.head()

   UserID Gender  Age  Occupation Zip-code
0       1      F    1          10    48067
1       2      M   56          16    70072
2       3      M   25          15    55117
3       4      M   45           7    02460
4       5      M   25          20    55455

### 2、使用categorical类型降低存储量

In [12]:
df_cat["Gender"] = df_cat["Gender"].astype("category")

In [13]:
df_cat.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6040 entries, 0 to 6039
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   UserID      6040 non-null   int64
 1   Gender      6040 non-null   category
 2   Age         6040 non-null   int64
 3   Occupation  6040 non-null   int64
 4   Zip-code    6040 non-null   object
dtypes: category(1), int64(3), object(1)
memory usage: 513.8 KB

In [14]:
df_cat.head()

   UserID Gender  Age  Occupation Zip-code
0       1      F    1          10    48067
1       2      M   56          16    70072
2       3      M   25          15    55117
3       4      M   45           7    02460
4       5      M   25          20    55455

In [15]:
df_cat["Gender"].value_counts()

M    4331
F    1709
Name: Gender, dtype: int64

### 3、提升运算速度

In [16]:
%timeit df.groupby("Gender").size()

2.17 ms ± 428 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [17]:
%timeit df_cat.groupby("Gender").size()

1.04 ms ± 153 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)