# 01. Pandas读取数据

In [2]:
import pandas as pd

## 1.1读取csv文件（逗号分隔符）

In [3]:
fpath = "E:/code/data_analysis/pandas_data_analysis/data/1_ratings.csv"
rating = pd.read_csv(fpath)
rating.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [5]:
# 查看数据的形状，返回(行数、列数)
rating.shape

(100836, 4)

In [6]:
# 查看列名列表
rating.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [7]:
# 查看索引列
rating.index

RangeIndex(start=0, stop=100836, step=1)

In [8]:
# 查看每列的数据类型
rating.dtypes

userId         int64
movieId        int64
rating       float64
timestamp      int64
dtype: object

## 1.2 读取txt文件

In [19]:
fpath = "E:/code/data_analysis/pandas_data_analysis/data/2_access_pvuv.txt"
pvuv = pd.read_csv(
    fpath,
    sep = '\t',
    header = None,
    names = ['pdate','pv','uv'])
pvuv

        pdate   pv   uv
0  2019-09-10  139   92
1  2019-09-09  185  153
2  2019-09-08  123   59
3  2019-09-07   65   40
4  2019-09-06  157   98
5  2019-09-05  205  151
6  2019-09-04  196  167
7  2019-09-03  216  176
8  2019-09-02  227  148
9  2019-09-01  105   61

## 1.3读取excel文件

In [3]:
fpath = "E:/code/data_analysis/pandas_data_analysis/data/3_access_pvuv.xlsx"
pvuv = pd.read_excel(fpath)
pvuv

           日期   PV   UV
0  2019-09-10  139   92
1  2019-09-09  185  153
2  2019-09-08  123   59
3  2019-09-07   65   40
4  2019-09-06  157   98
5  2019-09-05  205  151
6  2019-09-04  196  167
7  2019-09-03  216  176
8  2019-09-02  227  148
9  2019-09-01  105   61