## 02. Pandas数据结构

In [1]:
import pandas as pd
import numpy as np

### 1. Series

Series：一维数组对象，由一组数据以及其索引组成

In [2]:
s1 = pd.Series([1,'a',5.2,7])
# 左侧为索引，右侧是数据
s1

0      1
1      a
2    5.2
3      7
dtype: object

In [4]:
# 获取索引
s1.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
# 获取数据
s1.values

array([1, 'a', 5.2, 7], dtype=object)

In [6]:
# 创建一个具有标签索引的Series
s2 = pd.Series([1,'a',5.2,7], index=['a','b','c','d'])
s2

a      1
b      a
c    5.2
d      7
dtype: object

In [7]:
s2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [8]:
# 利用字典创造Series
s3 = {'Ohio':35000,'Texas':72000,'Oregon':16000,'Utah':5000}
s3 = pd.Series(s3)
s3

Ohio      35000
Texas     72000
Oregon    16000
Utah       5000
dtype: int64

In [8]:
s2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

#### 1.1 根据标签索引查询数据
类似Python的字典dict

In [9]:
s2

a      1
b      a
c    5.2
d      7
dtype: object

In [10]:
s2['a']

1

In [11]:
type(s2['a'])

int

In [14]:
s2[['b','a']]

b    a
a    1
dtype: object

In [13]:
type(s2[['b','a']])

pandas.core.series.Series

### 2. DataFrame

In [15]:
data={
        'state':['Ohio','Ohio','Ohio','Nevada','Nevada'],
        'year':[2000,2001,2002,2001,2002],
        'pop':[1.5,1.7,3.6,2.4,2.9]
    }
df = pd.DataFrame(data)
df

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

In [16]:
df.dtypes

state     object
year       int64
pop      float64
dtype: object

In [18]:
df.columns

Index(['state', 'year', 'pop'], dtype='object')

In [19]:
df.index

RangeIndex(start=0, stop=5, step=1)

### 3. 从DataFrame中查询出Series

* 如果只查询一行、一列，返回的是pd.Series;如果查询多行、多列，返回的是pd.DataFrame

In [20]:
df

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

In [21]:
df['year']

0    2000
1    2001
2    2002
3    2001
4    2002
Name: year, dtype: int64

In [22]:
type(df['year'])

pandas.core.series.Series

In [23]:
df[['year','pop']]

   year  pop
0  2000  1.5
1  2001  1.7
2  2002  3.6
3  2001  2.4
4  2002  2.9

In [24]:
type(df[['year', 'pop']])

pandas.core.frame.DataFrame

#### 3.2 查询行

In [25]:
df.loc[1]

state    Ohio
year     2001
pop       1.7
Name: 1, dtype: object

In [28]:
type(df.loc[1])

pandas.core.series.Series

In [26]:
df.loc[1:3]

    state  year  pop
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4

In [27]:
type(df.loc[1:3])

pandas.core.frame.DataFrame