In [11]:
import pandas as pd

In [37]:
fpath = "E:/code/data_analysis/pandas_data_analysis/data/4_beijing_tianqi_2018.csv"
df = pd.read_csv(fpath)
df.head(3)

          ymd bWendu yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
0  2018-01-01     3℃    -6℃   晴~多云       东北风   1-2级   59       良         2
1  2018-01-02     2℃    -5℃   阴~多云       东北风   1-2级   49       优         1
2  2018-01-03     2℃    -5℃     多云        北风   1-2级   28       优         1

In [38]:
df["bWendu"] = df["bWendu"].str.replace("℃", '').astype("int32")
df["yWendu"] = df["yWendu"].str.replace("℃", '').astype("int32")
df.head(3)

          ymd  bWendu  yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
0  2018-01-01       3      -6   晴~多云       东北风   1-2级   59       良         2
1  2018-01-02       2      -5   阴~多云       东北风   1-2级   49       优         1
2  2018-01-03       2      -5     多云        北风   1-2级   28       优         1

In [39]:
df.set_index(pd.to_datetime(df["ymd"]),inplace=True)
df.head(3)

,ymd,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel
ymd,,,,,,,,,
2018-01-01,2018-01-01,3,-6,晴~多云,东北风,1-2级,59,良,2
2018-01-02,2018-01-02,2,-5,阴~多云,东北风,1-2级,49,优,1
2018-01-03,2018-01-03,2,-5,多云,北风,1-2级,28,优,1

In [40]:
df.index.month

Int64Index([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
            ...
            12, 12, 12, 12, 12, 12, 12, 12, 12, 12],
           dtype='int64', name='ymd', length=365)

In [41]:
result = (df.groupby(df.index.month)
         .agg(最高温度= ("bWendu","max"),
              风向 = ("fengxiang", lambda x: ",".join(x.unique())))
         .reset_index()
             )

In [42]:
result

    ymd  最高温度                           风向
0     1     7     东北风,北风,西北风,西南风,南风,东南风,东风
1     2    12      北风,西南风,南风,西北风,西风,东北风,东风
2     3    27         西南风,北风,东南风,南风,东北风,东风
3     4    30        南风,北风,东北风,西南风,西北风,东南风
4     5    35  东北风,北风,西南风,南风,东南风,东风,西风,西北风
5     6    38         西南风,南风,北风,东风,东南风,东北风
6     7    37      东南风,西南风,南风,东北风,东风,西风,北风
7     8    36         东南风,南风,东风,东北风,北风,西南风
8     9    31                南风,北风,西南风,西北风
9    10    25         北风,西北风,南风,西风,东北风,西南风
10   11    18        南风,北风,西南风,东南风,西北风,东北风
11   12    10              东南风,东北风,西北风,西南风

In [48]:
def abc(x):
    return pd.Series({
        "最高温度":x["bWendu"].max(),
        "风向":",".join(x["fengxiang"].unique())
    })

result1 = df \
        .groupby(df.index.month) \
        .apply(abc) \
        .reset_index() \
        .rename(columns={"ymd":"月份"})