In [2]:
import pandas as pd

In [3]:
file_path = "C:/Users/sunny/Desktop/ABC/gencode.v22.annotation.gtf"
gene_annotation = pd.read_csv(file_path, skiprows=5, header=None, sep= "\t")

In [4]:
gene_annotation.head()

,0,1,2,3,4,5,6,7,8
0,chr1,HAVANA,gene,11869,14409,.,+,.,"gene_id ""ENSG00000223972.5""; gene_type ""transc..."
1,chr1,HAVANA,transcript,11869,14409,.,+,.,"gene_id ""ENSG00000223972.5""; transcript_id ""EN..."
2,chr1,HAVANA,exon,11869,12227,.,+,.,"gene_id ""ENSG00000223972.5""; transcript_id ""EN..."
3,chr1,HAVANA,exon,12613,12721,.,+,.,"gene_id ""ENSG00000223972.5""; transcript_id ""EN..."
4,chr1,HAVANA,exon,13221,14409,.,+,.,"gene_id ""ENSG00000223972.5""; transcript_id ""EN..."

In [5]:
gene_annotation.drop([0,1,3,4,5,6,7],axis=1,inplace=True)

In [6]:
gene_annotation.columns = ['type', 'split']
gene_annotation.head()

         type                                              split
0        gene  gene_id "ENSG00000223972.5"; gene_type "transc...
1  transcript  gene_id "ENSG00000223972.5"; transcript_id "EN...
2        exon  gene_id "ENSG00000223972.5"; transcript_id "EN...
3        exon  gene_id "ENSG00000223972.5"; transcript_id "EN...
4        exon  gene_id "ENSG00000223972.5"; transcript_id "EN...

In [ ]:
def mapfunc(line):
    gene_id = []
    gene_name = []
    gene_type = []
    line = [x.strip(" ") for x in line.split(";")]
    for i in line:
        i = i.split(" ")
        if len(i) == 2 and i[0] == "gene_id":
            gene_id.append(i[1])
        if len(i) == 2 and i[0] == "gene_name":
            gene_name.append(i[1])
        if len(i) == 2 and i[0] == "gene_type":
            gene_type.append(i[1])
    gene_type_df = pd.DataFrame(gene_type, columns=["gene_type"])
    gene_id_df = pd.DataFrame(gene_id, columns=["gene_id"])
    gene_name_df = pd.DataFrame(gene_name, columns=["gene_name"])
    df1 = pd.concat([gene_name_df, gene_type_df, gene_id_df], axis=1)
    return df1

gene_annotation["split"].apply(mapfunc)